<section class="author">
{{ if isset .Site.Params "author" }}
  <p><a href="{{ .Site.Params.authorwebsite }}"> {{ .Site.Params.author }} </a></p>
  <!--<p>Read <a href="{{ .Site.BaseURL }}">more posts</a> by this author.</p>-->
{{ end }}
</section>
